header {
  @include linear-gradient-4point(left, $color-primary, $color-white);
}

.header {
  background-color: $color-primary;
}

.header-logo {
  padding: 0.5rem 0;
}

.header-main {
  padding: 0.5rem 0;
}

.header-address {
  padding: 0.5rem 0;
  @include media-laptop {
    padding: 0;
  }
}

.layout-3-column {
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;
}

.logo {
  width: 10rem;
  display: inline-block;
  @include media-laptop {
    width: 18rem;
  }
}

.language a {
  padding: 1.4rem 0 1.4rem 3.5rem;
  color: $color-white;
  @include media-tablet {
    padding: 0.7rem 0 1.4rem 3.5rem;
  }
}
.language a:hover {
  color: $color-additional;
}
.lang_en {
  background: url("../img/header/lang_en.png") no-repeat;
}

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include media-laptop {
    flex-direction: column;
  }
}

.header-main .language {
  padding: 0 0.5rem;
  @include media-tablet {
    padding: 0 3.5rem 0 0.5rem;
  }
}
.phone {
  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    max-width: 30rem;
    @include media-laptop {
      flex-direction: column;
    }
  }
}
.phone-text {
  display: none;
  
  @include media-tablet {
    display: inline-block;
    flex-grow: 2;
    text-align: center;
    margin: 0 0 1rem;
    color: $color-white;
  }
}
.phone a {
  padding: 0 0.5rem;
  color: $color-white;
  
  @include media-tablet {
    flex-grow: 1;
  }
}

.phone a:hover {
  color: $color-additional;
}

.slogan {
  display: none;
  @include media-laptop {
    display: block;
  }
}

.header-address {
  display: none;
  background-color: $color-white;
  @include media-laptop {
    display: flex;
  }
}

.phone-text-link, .mail-text-link, .language-text {
  display: none;
}

.language-text, .phone-text-link, .mail-text-link {
  @include media-tablet {
    display: inline;
  }
}

.phone-text-link, .mail-text-link {
  margin-left: 1rem;
}

.bars {
  @include media-laptop {
    display: none;
  }
}

.bars a {
  color: $color-white;
}

.bars a.activ-link {
  color: $color-additional;
}