// include components/_menu.scss
// include components/_form-search.scss
.left-sidebar{
  @include media-laptop {
    width:24rem;
  }
}

.news {
  display: none;
  @include media-laptop{
    display: block;
    text-align: right;
    background-color: $color-menu-link1-background;
  }
}
.news a {
  @include media-laptop {
    @include font-textProBold;
    @include font ($size:1.1rem);
    color: $color-white;
    background-color: $color-additional;
    text-transform: uppercase;
    padding: 1rem 2.5rem 1rem 1.5rem;
    display: inline-block;
  }
}
.news a:hover {
  @include media-laptop {
    text-decoration: underline;
  }
}
.summary-production {
  display: none;
  @include media-laptop{
    position: relative;
    display: block;
    background-color: $color-additional;
    color: $color-white;
    margin-top: 2rem;
  }
}
.summary-production--shadow {
  @include media-laptop {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    background-color: $color-additional;
    width: 300rem;
  }
}