$color-primary: #004a80;
$color-additional: #ff501a;
$color-additional-hover: #dd3400;
$color-background: #404042;
$color-background-hover: #404042ba;

$color-blue: #004a80;
$color-darkblue: #013a63;
$color-white: #ffffff;
$color-gray: #a0a0a0;

$color-img-menu: #ffffff;
$color-img-menu-hover: #d9d9d9;

$main-news-background: #f2f2f2;

$color-h1: #384071;
// menu
//first level
$color-menu-link1: #f2f2f2;
$color-menu-link1-background: #404042;
$color-menu-link1-hover: #404042;
$color-menu-link1-hover-background: #f2f2f2;
//$color-menu-ul-background:
//second level
$color-ul2-background: #8c8c8c;
$color-menu-link2: #404042;
$color-menu-link2-background: #f5f5f5;
$color-menu-link2-hover: #404042;
$color-menu-link2-hover-background: #f2f2f2;
//second level
//footer
$color-footer-menu: #b0b0b0;
$color-footer-menu-hover: #888888;
$color-footer-address: #ffffff;
$color-footer-address-hover: #d9d9d9;

$content-width: 320px;
$mobile-big-width: 414px;
$tablet-width: 768px;
$laptop-width: 1197px;