$color-primary: #004a80;
$color-additional: #ff501a;
$color-background: #404042;

$color-blue: #004a80;
$color-darkblue: #013a63;
$color-white: #ffffff;

$content-width: 320px;
$mobile-big-width: 414px;
$tablet-width: 768px;
$laptop-width: 1197px;