@mixin font ($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  @if $size==$height {line-height: $size*1.15;} @else {line-height: $height;}
  font-weight: $weight;
  font-style: $style;
}

@mixin media-mobilesmall {
  @media (max-width: $mobile-small-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}