@mixin font ($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  @if $size==$height {line-height: $size*1.15;} @else {line-height: $height;}
  font-weight: $weight;
  font-style: $style;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin linear-gradient-4point($direction, $fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, $direction, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($direction, $fromColor 0%, $fromColor 50%, $toColor 50%, $toColor 50%); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($direction, $fromColor 0%, $fromColor 50%, $toColor 50%, $toColor 50%); /* FF3.6 */
  background-image:     -ms-linear-gradient($direction, $fromColor 0%, $fromColor 50%, $toColor 50%, $toColor 50%); /* IE10 */
  background-image:      -o-linear-gradient($direction, $fromColor 0%, $fromColor 50%, $toColor 50%, $toColor 50%); /* Opera 11.10+ */
  background-image:         linear-gradient($direction, $fromColor 0%, $fromColor 50%, $toColor 50%, $toColor 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin media-mobile-big {
  @media (min-width: $mobile-big-width) { @content; }
}

@mixin media-tablet {
  @media (min-width: $tablet-width) { @content; }
}

@mixin media-laptop {
  @media (min-width: $laptop-width) { @content; }
}

@mixin media-desktop {
  @media (min-width: $desktop-width) { @content; }
}