%transition {
  transition: all .3s ease-out;
}

%font-prim {
  font-family: 'PFDinTextProRegular', Verdana, sans-serif;
}

%font-textProBold {
  font-family: 'PFDinDisplayProBold', Verdana, sans-serif;
}

%font-diplayProBlack {
  font-family: 'PFDinDisplayProBlack', Verdana, sans-serif;
}

%font-diplayProMedium {
  font-family: 'PFDinDisplayProMedium', Verdana, sans-serif;
}