%transition {
  transition: all .3s ease-out;
}

%font-prim {
  font-family: 'PFDinTextProRegular', Verdana, sans-serif;
}

@mixin font-textProBold {
  font-family: 'PFDinDisplayProBold', Verdana, sans-serif;
}

%font-textProBold {
  @include font-textProBold;
}

%font-diplayProBlack {
  font-family: 'PFDinDisplayProBlack', Verdana, sans-serif;
}

%font-diplayProMedium {
  font-family: 'PFDinDisplayProMedium', Verdana, sans-serif;
}

@mixin font-displayProItalic {
  font-family: 'PFDinDisplayProItalic', Verdana, sans-serif;
}

%font-displayProItalic {
  @include font-displayProItalic;
}