#left-menu-container {
  display: none;
  background-color: $color-background;
  padding: 0.5rem 1rem;
}
#left-menu-container ul {
  list-style-type: none;
}
#vertical-multilevel-menu {
  padding: 0;
}
#vertical-multilevel-menu ul{
  padding: 0 0 0 2rem;
}
