/*base*/
/*
.left_menu::before {
  @include media-laptop {
    content: '';
    background-color: $color-gray;
    height: 100%;
    width: auto;
  }
}
*/
.left_menu {
  @include media-laptop {
    position: relative;
  }
}

.left_menu--shadow {
  @include media-laptop {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    background-color: $color-background;
    width: 300rem;
  }
}
.container--is--not--visible {
  display: none;
}
ul#vertical-multilevel-menu, #vertical-multilevel-menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
	text-transform: uppercase;
}
/*Submenu box*/
#vertical-multilevel-menu li ul {
  border:1px solid #C1C1C1;
  @include media-laptop {
    position:absolute;
    top:2rem;
    left: 80%;
    display:none;
    z-index:500;
    height:auto;
    border-bottom:none;
    width:20rem;
  }
}
/* Submenu Items */
#vertical-multilevel-menu li a {
  color: $color-menu-link2;
  background-color: $color-menu-link2-background;
  border-bottom:1px solid #C1C1C1;
  padding: 1rem 0;
  @include media-laptop {
    display: block;
    text-decoration: none;
    color: #404042;
    padding: 5px;
    background:#F5F5F5;
    border-bottom:1px solid #C1C1C1;
  }
}
/*Items selected*/
#vertical-multilevel-menu li a.item-selected
{
  color: $color-additional;
  background-color: #D6D6D6;
}
/*Items Hover */
#vertical-multilevel-menu li a:hover
{
  color: $color-additional;
  background-color: #D6D6D6;
}

#left-menu-container {
  display: none;
  background-color: $color-background;
  @include media-laptop{
    display: inline-block;
  }
}
#left-menu-container ul {
  list-style-type: none;
}
#vertical-multilevel-menu {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
// first level menu

#vertical-multilevel-menu li {
  position: relative;
  display: flex;
  transition: background-color .5s ease;
  text-align: center;
  flex: 1;
  flex-direction: column;
}

#vertical-multilevel-menu a.root-item {
  position: relative;
  display: inline-flex;
  padding: 2rem;
  text-decoration: none;
  color: $color-menu-link1;
  background-color: $color-menu-link1-background;
  flex: 1;
  justify-content: center;
  @include media-laptop {
    @include font-textProBold;
    @include font ($size:1.4rem, $height:1.6rem);
    color: $color-ul2-background;
    border: none;
    padding: 1rem 3rem;
  }
}
#vertical-multilevel-menu a.root-item:hover {
  color: $color-menu-link1-hover;
  background-color: $color-menu-link1-hover-background;
  @include media-laptop {
    color: $color-additional;
  }
}

/*Root menu Items hover*/
#vertical-multilevel-menu a.root-item:hover, #vertical-multilevel-menu a.root-item-selected:hover {
  background: $color-white;
  color: #5e5e5e;
}
/*Root menu Items Selected*/
#vertical-multilevel-menu a.root-item-selected
{
  background: $color-white;
  color: $color-additional;
}

#vertical-multilevel-menu a > .fas {
  margin-left: 8px;
}

#vertical-multilevel-menu li:hover {
 // background-color: $color-additional;
 // color: $color-background;
}

#vertical-multilevel-menu li:hover .root-item {
  display: flex;
  flex-direction: column;
}

#vertical-multilevel-menu ul{
  //padding: 0 2rem;
}

#vertical-multilevel-menu ul li {
  //background-color: $color-gray ;
  //color: $color-background;
  //margin: 0.5rem 0;
}
//second level
ul.root-item {
  background-color: $color-ul2-background;
}
ul.root-item>li>a {
  //color: 
}