@font-face {
  font-family: 'PFDinDisplayProBlack';
  src: url('webfonts/pfdindisplaypro-black.eot');
  src: url('webfonts/pfdindisplaypro-black.eot') format('embedded-opentype'), url('webfonts/pfdindisplaypro-black.woff') format('woff'), url('webfonts/pfdindisplaypro-black.ttf') format('truetype'), url('webfonts/pfdindisplaypro-black.svg#PFDinDisplayProBlack') format('svg');
}
@font-face {
  font-family: 'PFDinDisplayProBold';
  src: url('webfonts/pfdindisplaypro-bold.eot');
  src: url('webfonts/pfdindisplaypro-bold.eot') format('embedded-opentype'), url('webfonts/pfdindisplaypro-bold.woff') format('woff'), url('webfonts/pfdindisplaypro-bold.ttf') format('truetype'), url('webfonts/pfdindisplaypro-bold.svg#PFDinDisplayProBold') format('svg');
}
@font-face {
  font-family: 'PFDinDisplayProItalic';
  src: url('webfonts/pfdindisplaypro-italic.eot');
  src: url('webfonts/pfdindisplaypro-italic.eot') format('embedded-opentype'), url('webfonts/pfdindisplaypro-italic.woff') format('woff'), url('webfonts/pfdindisplaypro-italic.ttf') format('truetype'), url('webfonts/pfdindisplaypro-italic.svg#PFDinDisplayProItalic') format('svg');
}
@font-face {
  font-family: 'PFDinDisplayProMedium';
  src: url('webfonts/pfdindisplaypro-med.eot');
  src: url('webfonts/pfdindisplaypro-med.eot') format('embedded-opentype'), url('webfonts/pfdindisplaypro-med.woff') format('woff'), url('webfonts/pfdindisplaypro-med.ttf') format('truetype'), url('webfonts/pfdindisplaypro-med.svg#PFDinDisplayProMedium') format('svg');
}
@font-face {
  font-family: 'PFDinTextProBold';
  src: url('webfonts/pfdintextpro-bold.eot');
  src: url('webfonts/pfdintextpro-bold.eot') format('embedded-opentype'), url('webfonts/pfdintextpro-bold.woff') format('woff'), url('webfonts/pfdintextpro-bold.ttf') format('truetype'), url('webfonts/pfdintextpro-bold.svg#PFDinTextProBold') format('svg');
}
@font-face {
  font-family: 'PFDinTextProMedium';
  src: url('webfonts/pfdintextpro-medium.eot');
  src: url('webfonts/pfdintextpro-medium.eot') format('embedded-opentype'), url('webfonts/pfdintextpro-medium.woff') format('woff'), url('webfonts/pfdintextpro-medium.ttf') format('truetype'), url('webfonts/pfdintextpro-medium.svg#PFDinTextProMedium') format('svg');
}
@font-face {
  font-family: 'PFDinTextProRegular';
  src: url('webfonts/pfdintextpro-regular.eot');
  src: url('webfonts/pfdintextpro-regular.eot') format('embedded-opentype'), url('webfonts/pfdintextpro-regular.woff') format('woff'), url('webfonts/pfdintextpro-regular.ttf') format('truetype'), url('webfonts/pfdintextpro-regular.svg#PFDinTextProRegular') format('svg');
}
@font-face {
  font-family: 'PFDinTextProLight';
  src: url('webfonts/pfdintextpro-light.eot');
  src: url('webfonts/pfdintextpro-light.eot') format('embedded-opentype'), url('webfonts/pfdintextpro-light.woff') format('woff'), url('webfonts/pfdintextpro-light.ttf') format('truetype'), url('webfonts/pfdintextpro-light.svg#PFDinTextProLight') format('svg');
}
@font-face {
  font-family: 'PFDinTextProMediumItalic';
  src: url('webfonts/pfdintextpro-mediumitalic.eot');
  src: url('webfonts/pfdintextpro-mediumitalic.eot') format('embedded-opentype'), url('webfonts/pfdintextpro-mediumitalic.woff') format('woff'), url('webfonts/pfdintextpro-mediumitalic.ttf') format('truetype'), url('webfonts/pfdintextpro-mediumitalic.svg#PFDinTextProMediumItalic') format('svg');
}